CacheControl==0.14.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
discord.py==2.3.2
frozenlist==1.4.1
httplib2==0.22.0
idna==3.7
iniconfig==2.0.0
msgpack==1.0.8
multidict==6.1.0
packaging==24.0
pluggy==1.5.0
prettytable==3.10.0
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
PyJWT==2.8.0
pyparsing==3.1.2
pytest==8.2.0
pytest-sugar==1.0.0
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
rsa==4.9
termcolor==2.4.0
tzlocal==5.2
uritemplate==4.1.1
urllib3==2.2.1
wcwidth==0.2.13
yarl==1.11.1
